@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --gray1: #333333;
  --gray2: #4E5150;
  --gray3: #828282;
  --gray4: #F2F2F2;
  --orange: #F2994A;
  --red: #F24A4A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  min-height: 100dvh;
}

body {
  padding: 0 10rem;
}
